main{
    text-align: center;
    width: 119px;
    font-family: "Iceberg", sans-serif;
    font-weight: 900;
}
h1{
    font-weight: 200;
}
.contenedor-btn{
    padding: 2px;
}
.btn{
    padding: 5px;
    border: 4px solid #000000;
    border-radius: 5px;
    font-weight: 700;
    background-color: red;
    color: azure;
    padding-top: 8px;
}