body {
    background-color: rgb(255, 0, 0)
}

header {
    background-image: url(./assent/cross.webp);
    background-position: center;
    background-size: contain;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 2000px;
    padding: 2em;

}

.card {
    max-width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.8);
    background-color: #000000;
}

.nuevo {
    font-weight: 700;
}

.info {
    color: rgb(255, 0, 0);
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.subir {
    cursor: pointer;
    position: fixed;
    bottom: 100px;
    right: 20px;
    display: none;
    padding: 15px 15px;
    background: #ff0000;
    color: rgb(255, 0, 0);
    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
}

main {
    background-color: #000000;
    max-width: 2000px;
    padding: 2em;
    margin: auto;
    display: flex;
    justify-content: center;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer {
    background-color: #000000;
    max-width: 2000px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 2em;

}

button {
    background-color: rgb(255, 0, 0);
    color: azure;
    padding: 15px;
    margin-top:auto;
    border: rgb(255, 0, 0);
    border-radius: 5em;
    width: 100%;

}

nav {
    display: flex;
    gap: 20px;
}

ul {
    list-style: none;
}

li {
    display: flex;
   justify-content:flex-end;
    background-color: rgb(255, 0, 0);
    color: azure;
    border: rgb(255, 0, 0);
    border-radius: 5em;
    padding: 15px 15px;
}

.div {
    margin-top: 4px;
}

input {
    padding: 20px;

}

.h3 {
    color: azure;
}

h1 {
    color: azure;
    font-size: 5em;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.778), 0 0 1em rgb(255, 0, 0), 0 0 0.5em rgb(255, 0, 0);

}