header {
    background-image: url(./assent/cross.webp);
    background-position: center;
    background-size: contain;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 2000px;
    padding: 2em;
}
h1 {
    color: azure;
    font-size: 5em;
    text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.778), 0 0 1em rgb(255, 0, 0), 0 0 0.5em rgb(255, 0, 0);

}
img{
    width: 100%;
    
}